blockquote {
  // font-size: 1rem;
  color: #999;
  // border-left: .2rem solid #dfe2e5;
  // margin: 1rem 0;
  // padding: .25rem 0 .25rem 1rem;
}

.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.tip,
  &.warning,
  &.danger
    padding: .1rem 1.5rem
    border-left-width: .5rem
    border-left-style: solid
    margin: 1rem 0
  &.tip 
    background-color: #f3f5f7
    border-color: #42b983
  &.warning
    background-color: rgba(255,229,100,.3)
    border-color: #e7c000
    color: #6b5900
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right
  .custom-block-title
    font-weight: 600
    margin-bottom: -.4rem