.wrapper {
  padding: 40px 64px 64px 64px;
}

.centerLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
  gap: 32px;
}

.header {
  @extend .centerLayout;
}

.headerFilter {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  align-items: center;
  gap: 16px;
}

.content {
  @extend .centerLayout;
  margin-top: 32px;
}
