.container {
  margin: auto;
  padding-top: 4rem;
  color: #444950;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 300;
}

.searchBar {
  width: 584px;
  margin: 0 auto;
}

.searchBarContainer {
  display: flex;
  height: 44px;
  border: 1px solid #dfe1e5;
  background-color: #fff;
  box-shadow: none;
  border-radius: 24px;
}

.searchBarWrap {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchBarIcon {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.searchBarInput {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchBarInputCore {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  height: 34px;
  font-size: 16px;
  flex: 100%;
}

.searchBarButton {
  padding-top: 30px;
}

.searchBarButtonCore {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
